<mat-toolbar color="primary">
  <span>Brastlewark Town</span>
</mat-toolbar>

<div class="container">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Filters</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-form-field>
        <input matInput placeholder="Name" #nameBox (keyup)="0">
      </mat-form-field>
      
      <mat-form-field>
        <input matInput placeholder="Hair Color" #hairColorBox (keyup)="0">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Gender" #genderBox (keyup)="0">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Profession #1" #professionBox1 (keyup)="0">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Profession #2" #professionBox2 (keyup)="0">
      </mat-form-field>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<app-gnomes [setSearchName]="nameBox.value" [setSearchProfession1]="professionBox1.value"
  [setSearchProfession2]="professionBox2.value" [setSearchHairColor]="hairColorBox.value"
  [setSearchGender]="genderBox.value"></app-gnomes>
